<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <h1>SoundStorage</h1>
    
    <nav>
      <% if logged_in? %>
      <h3>You are logged in as <%= current_user.email %></h3>
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </nav>
    
    <% else %>
    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
    <% end %>
  </header>
  
  <body>
    
    <%= yield %>
    
  </body>
  
  <footer>
    <p>Powered by SoundStorage</p>
  </footer>
</html>
