<%= @comment.content %>

<h2>Reply to this comment:</h2>

<form class="" action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label>
    Comment
    <input type="text" name="comment[content]" value="">
  </label><br><br>
  
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">
  <input type="submit" name="" value="Reply">
</form>